{% extends "./layout.html" %}
{% load i18n %}

{% block title %} {{ block.super }} | {% if form.instance.pk %}Edit{% else %}Create{% endif %} Organization {% endblock %}

{% block content %}
<div>
    <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Organization</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'partials/form_template.html' with field=field %} 
        <button type="submit">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
    </form>

    <br>
    <a href="{% url 'organization_list' %}">Back to list</a>
</div>
{% endblock %}
